In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import calendar
import datetime
df = pd.read_csv('Data_Analyst_Take_Home.csv')
df.shape

(100000, 4)

In [11]:
df.head()

         Date CustomerId   orderid  RestaurantId
0  2021-01-30    rededuf  49087764          1280
1  2021-02-11    1deesus  50281843          1280
2  2021-02-13    1usrfdn  50515965          1280
3  2021-02-14    eeddrdn  50655182          1280
4  2021-02-15    1rr1u1n  50760529          1280

In [14]:
#finds the different customer IDs
df['CustomerId'].unique()

array(['rededuf', '1deesus', '1usrfdn', ..., '1ussnnu', '1uefedu',
       '12rn2ru'], dtype=object)

In [16]:
#count how many times each customerID occurs
CustomerId = df['CustomerId'].value_counts()
CustomerId

1udns1n    56
1udd2n2    47
1ue2du2    47
1nusf12    40
1ndnues    39
           ..
1uefneu     1
1unds2r     1
1unufnd     1
1uffs1u     1
12rn2ru     1
Name: CustomerId, Length: 42443, dtype: int64

In [22]:
#this statistical description of Customer orders
CustomerId.describe()

count    42443.000000
mean         2.356101
std          2.457000
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max         56.000000
Name: CustomerId, dtype: float64

In [25]:
#number of customers with orders equal to 1
CustomerId.value_counts()[:1]

1    21990
Name: CustomerId, dtype: int64

In [31]:
#number of customers with orders greater than 8
sum(CustomerId.value_counts()[7:])

1717

In [13]:
#date with 7th highest orders for the period
df['Date'].value_counts()[:7]

2021-02-12    1656
2021-02-13    1611
2021-02-14    1610
2021-02-05    1587
2021-02-06    1546
2021-01-29    1397
2021-01-30    1380
Name: Date, dtype: int64

In [64]:
#June orders
df['Date'] = pd.to_datetime(df['Date'])
start_date = '2021-06-01'
end_date = '2021-06-30'
mask = (df['Date'] >= start_date) & (df['Date']<= end_date)

June_orders = df.loc[mask]
June_orders

            Date CustomerId   orderid  RestaurantId
15    2021-03-19    1srss1e  54184762          3328
16    2021-03-23    nsr2du2  54592066          3328
17    2021-03-27    rdnfdud  55151789          3328
37    2021-03-02    ns1dnrr  52365711         11776
38    2021-03-12    1u1un1u  53382330         11776
...          ...        ...       ...           ...
99978 2021-03-23    1uesnfe  54599938         15615
99982 2021-03-25    1neudee  54786419         15871
99983 2021-03-03    1sfdf2s  52496925         16127
99984 2021-03-05    1uefedu  52742225         16127
99988 2021-03-18    112sdds  54053114         17407

[17096 rows x 4 columns]

In [65]:
#RestaurantID with highest orders in June
sum(June_orders['RestaurantId'].value_counts())

17096

In [36]:
#python function that returns 
ten_highest = pd.read_csv('Data_Analyst_Take_Home.csv')['CustomerId'].value_counts()[:10]
ten_highest

1udns1n    56
1udd2n2    47
1ue2du2    47
1nusf12    40
1ndnues    39
1u1f1dr    37
1uuness    36
1ud1sed    35
1uesnfe    34
1u1fnrd    33
Name: CustomerId, dtype: int64